html{
   font-family: "Saira Medium";
   background-color: #ddffff;
}

.tooltip{
   display: inline-block;
   position: absolute;
   z-index: 1073741822;
   bottom: 100%;
   padding: 2px 5px;
   background-color: #dfd;
   text-align: left;
}
.shown-item{
   position: relative;
   text-align: left;
}
.shown-item:hover{
   background-color: #cff;
}
.tab>button{
   padding: 0 6px 2px;
   border: 2px solid #90f;
   border-radius: 10px;
   background-color: #daf;
   font-size: 20px;
}
.tab>button[disabled]{
   background-color: #60a;
   color: #fff;
}
.nowrap{
   white-space: nowrap;
}

.anal{
   text-align: left;
   position: absolute;
   right: 0px;
   z-index: 1073741823;
   top: 0px;
}

.small{
   font-size: 13px;
}

.anal>button{
   border-radius: 6px;
   background-color: #d9f;
   transition-duration: 0.2s;
}

.anal>button:hover {
   border-radius: 7px;
   background-color: #d4f;
}

.d{
   background-color: #d26;
   border-radius: 6px;
   color: #fff;
   transition-duration: 0.2s;
}

.d:hover{
   background-color: #e15;
}