html{
   font-family: "Saira Medium";
   background: linear-gradient(#aabbcc,#ccddff);
}

.tooltip{
   display: inline-block;
   position: absolute;
   z-index: 1073741821;
   bottom: 100%;
   padding: 2px 5px;
   background-color: #dfd;
   text-align: left;
}
.shown-item{
   position: relative;
   text-align: left;
}
.shown-item:hover{
   background-color: #cff;
}
.tab>button{
   border: 2px solid #90f;
   background-color: #daf;
   transition-duration: 0.3s;
   width: 14.2857%;
}
.tab>button[disabled]{
   background-color: #60a;
   color: #fff;
}
.nowrap{
   white-space: nowrap;
}

.anal{
   text-align: left;
   position: absolute;
   right: 10px;
   z-index: 1073741822;
   top: 0px;
}

.a1{
   border-radius: 6px;
   background-color: #d9f;
   transition-duration: 0.2s;
}

.a1:hover {
   border-radius: 7px;
   background-color: #d4f;
}

.a2 {
   border-radius: 6px;
   background-color: #88f;
   transition-duration: 0.2s;
}

.a2:hover {
   border-radius: 7px;
   background-color: #44f;
}


.d{
   background-color: #d26;
   border-radius: 6px;
   color: #fff;
   transition-duration: 0.2s;
}


.d:hover{
   background-color: #e15;
}

.e {
   background-color: #666;
   border-radius: 6px;
   color: #fff;
   transition-duration: 0.2s;
}


.e:hover {
   background-color: #888;
}

.option{
   position: fixed;
   background-image: linear-gradient(rgba(255,255,255,0.5),rgba(235,235,235,1));
   text-align: left;
   bottom: 0%;
   left: 0px;
   font-size: 80%;
   z-index: 1073741823;
   width: 120%
}

.f{
   background-color: #ddffee;
   border-radius: 3px;
}

.g{
   color: rgba(0,0,0,0.4)
}