html{
   font-family: "Saira Medium";
   background: linear-gradient(hsl(0, 0%, 0%),hsl(0, 0%, 0%));
   color:#888;
}

.tooltip{
   display: inline-block;
   position: absolute;
   z-index: 1073741821;
   bottom: 100%;
   padding: 2px 5px;
   background-color: hsl(120, 92%, 15%);
   text-align: left;
}
.shown-item{
   position: relative;
   text-align: left;
}
.shown-item:hover{
   background-color: rgb(70, 111, 111);
}
.tab>button{
   border: 2px solid hsl(276, 100%, 50%);
   background-color: hsl(0, 0%, 0%);
   transition-duration: 0.3s;
   width: 14.2857%;
   color: #888
}
.tab>button[disabled]{
   background-color: #60a;
   color: #fff;
}
.nowrap{
   white-space: nowrap;
}

.anal{
   text-align: left;
   position: absolute;
   right: 10px;
   z-index: 1073741822;
   top: 0px;
}

.a1,.a2 {
   background-color: #000;
   color: #888;
   border-style: none;
   user-select: none;
}

.d{
   background-color: #d26;
   border-radius: 6px;
   color: #888;
   transition-duration: 0.2s;
}


.d:hover{
   background-color: #e15;
}

.e {
   background-color: #666;
   border-radius: 6px;
   color: #aaa;
   transition-duration: 0.2s;
}


.e:hover {
   background-color: #888;
}

.option{
   position: fixed;
   background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgb(0, 0, 0));
   text-align: left;
   bottom: 0%;
   left: 0px;
   font-size: 80%;
   z-index: 1073741823;
   width: 120%
}

.f{
   background-color: #000;
   color: #888;
   border-style: none;
}

.g{
   color: #aaa
}